<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bethel.mycoolwallet">

    <application
        android:name=".CoolApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_logo_2"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.SendCoinsQrActivity"></activity>
        <activity android:name=".activity.SweepWalletActivity" />
        <activity android:name=".activity.AddressBookActivity" />
        <activity android:name=".activity.BlockChainNetworkMonitorActivity" />
        <activity android:name=".activity.ExchangeRatesActivity" />
        <activity android:name=".activity.WebActivity">
            <intent-filter>
                <action android:name="bethel.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="http" />
                <data android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.DebugActivity" />
        <activity
            android:name=".activity.WalletFilePickerActivity"
            android:theme="@style/MFP_BaseTheme" />
        <activity
            android:name=".activity.WalletBackupActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:theme="@style/DialogTheme" />
        <activity
            android:name=".activity.SendCoinsActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:label="@string/send_coins_activity_title"
            android:windowSoftInputMode="adjustResize">
            <intent-filter android:label="@string/send_coins_activity_title">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="bitcoin" />
                <data android:scheme="BITCOIN" />
            </intent-filter>
            <intent-filter android:label="@string/send_coins_activity_title">
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="bitcoin" />
            </intent-filter>
            <intent-filter android:label="@string/send_coins_activity_title">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/bitcoin-paymentrequest" />
            </intent-filter>
            <intent-filter android:label="@string/send_coins_activity_title">
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/bitcoin-paymentrequest" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.RequestCoinsActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:label="@string/request_coins_activity_title"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:exported="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan">

            <!-- android:theme="@style/My.Theme.WithSplash"> -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!--
                <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
            -->
        </activity>
        <activity
            android:name=".activity.CustomCaptureActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard"
            android:screenOrientation="portrait"
            android:theme="@style/XQRCodeTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".activity.SettingsActivity" />

        <meta-data
            android:name="android.nfc.disable_beam_default"
            android:value="true" /> <!-- android:theme="@style/My.Theme.ChildActivity" -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.file_attachment"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider" />
        </provider>

        <receiver android:name=".service.WalletBalanceWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/wallet_balance_widget_provider_info" />
        </receiver>

        <receiver android:name=".service.BootstrapReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.AcceptBluetoothService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".service.MyJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".service.BlockChainService"
            android:enabled="true"
            android:exported="false" />
    </application>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.CAMERA" />

</manifest>